<mat-card appearance="outlined" class="container">
  <div class="titles">
    <h1>Welcome</h1>
    @if (isSignIn()) {
    <h2>Sign In</h2>
    } @else {
    <h2>Sign Up</h2>
    }
  </div>

  <form class="form-container" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label for="email">Email</mat-label>
      <input
        matInput
        type="text"
        id="email"
        name="email"
        formControlName="email"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label for="password">Password</mat-label>
      <input
        matInput
        type="password"
        id="password"
        name="password"
        formControlName="password"
      />
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="authForm.invalid">
      Submit
    </button>
  </form>

  <div class="social-container">
    <app-google-button [isSignIn]="isSignIn()" [onTap]="handleGoogleSignIn" />
  </div>

  <mat-divider></mat-divider>

  <div class="auth-switch" (click)="toggleAuthMode()">
    @if (isSignIn()) {
    <p>Need an account? Sign up</p>
    } @else {
    <p>Already have an account? Sign in</p>
    }
  </div>
</mat-card>
