.container {
  padding: 1rem;
  width: 20rem;

  .titles {
    text-align: center;

    margin-bottom: 1rem;

    h1,
    h2 {
      margin: 0;
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .social-container {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .auth-switch {
    text-decoration: underline;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }
}
